$gradient-color: -webkit-linear-gradient(
  113deg,
  rgba(255, 155, 0, 1) 0%,
  rgba(255, 0, 0, 1) 50%,
  rgba(255, 0, 125, 1) 100%
);

@mixin transition-ease {
  transition: all 0.15s ease-in-out;
}

@mixin media-md {
  @media screen and (min-width: 650px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin flex-default {
  display: flex;
  justify-content: center;
  align-items: center;
} ;
