:root {
  --gradient-color: -webkit-linear-gradient(
    113deg,
    rgba(255, 155, 0, 1) 0%,
    rgba(255, 0, 0, 1) 50%,
    rgba(255, 0, 125, 1) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 15vw;
  width: 100%;
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  box-shadow: 0 0 10px black;
  z-index: 5;
  top: 0vw;
}

.fa-magnifying-glass,
.fa-bars,
.fa-utensils,
.fa-bookmark,
.fa-pen-to-square {
  font-size: 8vw;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.25s;
}

.fa-bookmark,
.fa-pen-to-square {
  font-size: 6vw;
  transition: transform 0.15s;
}

.fa-bookmark:hover {
  cursor: pointer;
}

.active-icon {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#buttons-container {
  display: flex;
  justify-content: left;
  margin-left: 5vw;
  flex: 15%;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 40%;
}

#logo-lettering {
  font-size: 10vw;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Dancing Script;
  margin-left: 2vw;
}

#search-icon-container {
  display: flex;
  flex: 15%;
  justify-content: right;
  margin-right: 5vw;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.spinner img {
  width: 20vw;
  height: 20vw;
  position: relative;
  top: -40vw;
}

.navigation-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.search-bar-container,
#menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
  width: 100%;
  background-color: rgb(48, 48, 48);
  position: fixed;
  top: 15vw;
  z-index: 5;
}

#search-bar {
  font-size: 4vw;
  height: 11vw;
  width: 60vw;
  border-radius: 0;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0 2vw;
  transition: border 0.15s ease-in-out;
}

#search-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vw;
  width: 15vw;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: var(--gradient-color);
  cursor: pointer;
}

#search-bar-button .fa-magnifying-glass {
  background: white;
  -webkit-background-clip: text;
  font-size: 1.65em;
}

#search-bar:focus,
.add-recipe-modal input:focus {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        113deg,
        rgba(255, 155, 0, 1) 0%,
        rgba(255, 0, 0, 1) 50%,
        rgba(255, 0, 125, 1) 100%
      )
      border-box;
  border: 1vw solid transparent;
  outline: none;
  background-color: white;
}

.search-bar-container.hidden,
#menu-container.hidden,
#overlay.hidden,
.add-recipe-modal.hidden,
.fa-user.hidden {
  display: none;
}

.blank-recipe-container,
.error {
  text-align: center;
  position: absolute;
  width: 80%;
  height: fit-content;
  top: 30vw;
}

.blank-recipe-container a,
.error a {
  font-size: 5.5vw;
  color: rgb(201, 201, 201);
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.651);
  top: 0;
  z-index: 3;
  backdrop-filter: blur(2px);
}

.add-recipe-modal {
  position: absolute;
  top: 20vw;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 90%;
  height: fit-content;
  padding: 5vw;
  background-color: rgb(48, 48, 48);
  z-index: 4;
}

.add-recipe-modal input {
  position: absolute;
  right: 11vw;
  width: 50vw;
  border-radius: 1.5vw;
  border: none;
  height: 5vw;
  padding: 2vw;
}

.add-recipe-modal input:focus {
  border: 0.5vw solid transparent;
}

.add-recipe-modal div {
  color: white;
  margin-bottom: 3vw;
}

.add-recipe-modal div a {
  position: relative;
  left: -30vw;
}

.add-recipe-button {
  width: 33vw;
  text-align: center;
}

.menu-label {
  font-size: 5vw;
  color: white;
  margin-left: 2vw;
}

#menu-container {
  display: flex;
  justify-content: space-evenly;
}

.menu-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background-color: rgb(48, 48, 48);
  height: 90vw;
  width: 100%;
  padding: 5vw 0;
  z-index: 2;
}

.results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 15vw;
  height: fit-content;
  width: 70vw;
  border-bottom: 1px solid rgb(100, 100, 100);
  padding: 1vw;
}

.result:hover {
  background-color: rgb(36, 36, 36);
}

.active-result {
  background-color: rgb(36, 36, 36);
}

.result:first-child {
  border-top: 1px solid rgb(100, 100, 100);
}

#pagination-container {
  display: flex;
  position: fixed;
  bottom: 15vw;
  height: fit-content;
}

.previous-page-button,
.next-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 22vw;
}

.previous-page-button {
  left: -50vw;
}

.next-page-button {
  left: -1vw;
}

.page-button,
.instructions-button,
.add-recipe-button {
  color: white;
  font-size: 4vw;
  padding: 3vw;
  border-radius: 10vw;
  margin: 0 14.5vw;
  border: 0;
  background: var(--gradient-color);
}

.page-button:hover {
  cursor: pointer;
}

.result-image {
  width: 13vw;
  height: 13vw;
  border-radius: 100%;
}

.result-title {
  font-size: 5vw;
  color: white;
  margin-left: 5%;
}

.result-image-container {
  flex: 13vw;
}

.result-title-container {
  flex: 50vw;
  display: flex;
}

#recipe-container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe-image-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15vw;
  overflow: hidden;
  height: 55vw;
}

.recipe-image {
  width: 100vw;
}

.recipe-title {
  padding: 5vw 8vw;
  font-size: 5.5vw;
  color: white;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 30vw;
  z-index: 1;
  border-radius: 3vw;
  max-width: 85%;
  max-height: 50vw;
  text-align: center;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 74vw;
}

.fa-circle-minus,
.fa-circle-plus {
  margin-left: 2vw;
  cursor: pointer;
  transition: transform 0.15s;
}

.fa-circle-plus {
  margin-left: 0vw;
}

.fa-circle-minus:hover,
.fa-circle-plus:hover,
.fa-bookmark:hover {
  transform: translate3d(0px, -3px, 0px);
}

.info-container i {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4em;
  margin-right: 1vw;
}

.cooking-time-container,
.servings-container,
.servigs-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredients-title {
  font-size: 4.5vw;
  font-weight: 700;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 86vw;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 95vw;
}

.ingredient {
  max-width: 75%;
  text-align: center;
  margin-bottom: 3vw;
}

.fa-square-check {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instructions {
  margin-top: 10vw;
  margin-bottom: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions-title {
  margin-bottom: 1.5vw;
  font-size: 4.5vw;
  font-weight: 700;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instructions-description {
  margin-bottom: 5vw;
  text-align: center;
}

@media only screen and (min-width: 450px) {
  header {
    height: 10vw;
    width: 100%;
  }

  .fa-magnifying-glass,
  .fa-bars,
  .fa-utensils,
  .fa-bookmark,
  .fa-pen-to-square {
    font-size: 7vw;
  }

  .fa-bookmark,
  .fa-pen-to-square {
    font-size: 6vw;
    margin-left: 3vw;
  }

  #logo-lettering {
    font-size: 9vw;
  }

  .search-bar-container,
  #menu-container {
    display: flex;
    align-items: center;
    height: 10vw;
    top: 10vw;
  }

  #search-bar {
    height: 7vw;
    font-size: 4vw;
  }

  #search-bar-button {
    height: 7vw;
    width: 9vw;
  }

  #search-bar-button .fa-magnifying-glass {
    font-size: 1.65em;
  }

  .menu-label {
    font-size: 4.5vw;
    margin-left: 1vw;
  }

  #results-container {
    height: 65vw;
  }

  .result {
    min-height: 10vw;
    height: fit-content;
    width: 65vw;
    padding: 0.5vw;
  }

  #pagination-container {
    bottom: 13vw;
  }

  .previous-page-button,
  .next-page-button {
    width: 22vw;
  }

  .previous-page-button {
    left: -47vw;
  }

  .next-page-button {
    left: -4vw;
  }

  .result-image {
    width: 8vw;
    height: 8vw;
  }

  .result-title {
    font-size: 4vw;
  }

  .result-image-container {
    flex: 8vw;
  }

  .result-title-container {
    flex: 45vw;
    display: flex;
  }

  .recipe-image-container {
    top: 10vw;
    height: 45vw;
  }

  .recipe-image {
    width: 97.35vw;
  }

  .recipe-title {
    padding: 4vw 7vw;
    font-size: 4.5vw;
    top: 25vw;
  }

  .info-container {
    top: 58vw;
  }

  .info-container i {
    font-size: 2.75em;
  }

  .info-container a {
    font-size: 3.25vw;
  }

  .ingredients-title {
    top: 68vw;
    font-size: 4vw;
  }

  .ingredients-container {
    top: 75vw;
  }

  .ingredients-container a {
    font-size: 3vw;
  }

  .fa-square-check {
    font-size: 3vw;
  }

  .instructions {
    margin-top: 5vw;
    margin-bottom: 70vw;
  }

  .instructions-title {
    font-size: 4vw;
  }

  .instructions-description {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 650px) {
  header {
    height: 6vw;
  }

  .fa-magnifying-glass,
  .fa-bars,
  .fa-utensils,
  .fa-bookmark,
  .fa-pen-to-square {
    font-size: 4vw;
  }

  .fa-bookmark,
  .fa-pen-to-square {
    margin-left: 3vw;
  }

  #logo-lettering {
    font-size: 6vw;
  }

  .search-bar-container.hidden {
    display: flex;
  }

  .fa-magnifying-glass {
    background: white;
    -webkit-background-clip: text;
    font-size: 1.65em;
  }

  .search-bar-container {
    height: 6vw;
    width: 35vw;
    background-color: rgba(255, 0, 0, 0);
    top: 0;
    left: 2vw;
  }

  .blank-recipe-container,
  .error {
    top: 20vw;
  }

  .blank-recipe-container a {
    font-size: 4vw;
  }

  .error a {
    font-size: 4vw;
  }

  #search-bar {
    font-size: 2vw;
    height: 4.5vw;
    width: 30vw;
    border-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  #search-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    width: 5vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--gradient-color);
    cursor: pointer;
  }

  #search-barr-button:hover {
    color: red;
  }

  #search-bar:focus {
    border: 0.4vw solid transparent;
  }

  #search-bar-button .fa-magnifying-glass {
    font-size: 1.4em;
  }

  .spinner img {
    top: -10vw;
  }

  #results-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 25vw;
    padding-top: 8vw;
  }

  .result {
    min-height: 6vw;
    height: fit-content;
    width: 20vw;
  }

  #pagination-container {
    display: flex;
    position: fixed;
    width: 25vw;
    margin-left: 1.25vw;
    top: 67vw;
    left: -1.2vw;
  }

  .page-button,
  .instructions-button {
    font-size: 1.75vw;
    padding: 2vw;
    height: 6vw;
  }

  .previous-page-button,
  .next-page-button {
    width: 10vw;
  }

  .previous-page-button {
    left: 1vw;
  }

  .next-page-button {
    left: -2vw;
  }

  .result-image {
    width: 5vw;
    height: 5vw;
  }

  .result-title {
    font-size: 1.5vw;
  }

  .result-image-container {
    flex: 5vw;
  }

  .result-title-container {
    flex: 10vw;
    display: flex;
  }

  #recipe-container {
    width: 77.5%;
  }

  .recipe-image-container {
    top: 0;
    height: 25vw;
    overflow: hidden;
  }

  #recipe-container {
    height: 100%;
    width: 79vw;
    position: absolute;
    left: 20vw;
  }

  .recipe-title {
    padding: 1.5vw 2vw;
    font-size: 4vw;
    top: 10vw;
  }

  .info-container {
    top: 26vw;
    justify-content: center;
  }

  .info-container i {
    font-size: 2em;
  }

  .info-container a {
    font-size: 2vw;
  }

  .cooking-time-container,
  .servings-container,
  .servigs-buttons-container {
    margin: 0 4vw;
  }

  .fa-bookmark {
    margin-left: 0;
  }

  .cooking-time-container {
    margin-left: -1vw;
  }

  .ingredients-title {
    font-size: 1.5em;
    top: 33vw;
  }

  .ingredients-container {
    top: 38vw;
    padding: 1vw;
  }

  .ingredients-container a {
    font-size: 1em;
  }

  .ingredient {
    flex: 50%;
    margin-bottom: 2vw;
  }

  .fa-square-check {
    font-size: 1em;
  }

  .instructions {
    margin-bottom: 3vw;
  }

  .instructions-title {
    font-size: 1.5em;
  }

  .instructions-description {
    font-size: 1em;
    margin-bottom: 1vw;
  }

  .navigation-button .fa-magnifying-glass,
  .navigation-button .fa-bars {
    display: none;
  }

  #menu-container.hidden {
    display: flex;
    height: 6vw;
    width: 33vw;
    top: 0;
    right: 0;
  }

  .menu-option a {
    font-size: 1em;
  }
  .menu-option i {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 950px) {
  header {
    height: 3vw;
  }

  .fa-magnifying-glass,
  .fa-bars,
  .fa-utensils,
  .fa-bookmark,
  .fa-pen-to-square {
    font-size: 2vw;
  }

  .fa-bookmark,
  .fa-pen-to-square {
    margin-left: 3vw;
  }

  #logo-lettering {
    font-size: 3vw;
  }

  .search-bar-container.hidden {
    display: flex;
  }

  .fa-magnifying-glass {
    background: white;
    -webkit-background-clip: text;
  }

  .blank-recipe-container,
  .error {
    top: 15vw;
  }

  .blank-recipe-container a {
    font-size: 3vw;
  }

  .error a {
    font-size: 3vw;
  }

  .search-bar-container {
    height: 3vw;
    width: 25vw;
    background-color: rgba(255, 0, 0, 0);
    top: 0;

    left: 2vw;
  }

  #search-bar {
    font-size: 1.25vw;
    height: 2.5vw;
    width: 20vw;
    border-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  #search-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5vw;
    width: 5vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--gradient-color);
    cursor: pointer;
  }

  #search-barr-button:hover {
    color: red;
  }

  #search-bar:focus {
    border: 0.25vw solid transparent;
  }

  #results-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 20vw;
    padding-top: 5vw;
  }

  .result {
    min-height: 4vw;
    height: fit-content;
    width: 16vw;
  }

  #pagination-container {
    display: flex;
    position: fixed;
    top: 43vw;
    width: 20vw;
  }

  .page-button,
  .instructions-button {
    font-size: 1vw;
    padding: 1vw;
    height: 3vw;
  }

  .previous-page-button,
  .next-page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 6vw;
  }

  .previous-page-button {
    left: 1vw;
  }

  .next-page-button {
    left: 11vw;
  }

  .spinner img {
    width: 10vw;
    height: 10vw;
    top: 0;
  }

  .result-image {
    width: 3vw;
    height: 3vw;
  }

  .result-title {
    font-size: 1vw;
  }

  .result-image-container {
    flex: 3vw;
  }

  .result-title-container {
    flex: 10vw;
    display: flex;
  }

  #recipe-container {
    width: 77.5%;
  }

  .recipe-image-container {
    top: 0;
    height: 20vw;
    overflow: hidden;
  }

  .recipe-image {
    width: 80.9vw;
  }
  #recipe-container {
    height: 100%;
    width: 79vw;
    position: absolute;
    left: 20vw;
  }

  .recipe-title {
    padding: 1.5vw 2vw;
    font-size: 2vw;
    top: 8vw;
  }

  .info-container {
    top: 22vw;
    justify-content: center;
  }

  .info-container i {
    font-size: 2em;
  }

  .info-container a {
    font-size: 1vw;
  }

  .cooking-time-container,
  .servings-container,
  .servigs-buttons-container {
    margin: 0 4vw;
  }

  .fa-bookmark {
    margin-left: 0;
  }

  .cooking-time-container {
    margin-left: -1vw;
  }

  .ingredients-title {
    font-size: 1.5vw;
    top: 28vw;
  }

  .ingredients-container {
    top: 31vw;
    column-count: 2;
    padding: 1vw;
  }

  .ingredients-container a {
    font-size: 1vw;
  }

  .ingredient {
    flex: 50%;
    margin-bottom: 1.5vw;
  }

  .fa-square-check {
    font-size: 1vw;
  }

  .instructions {
    margin-bottom: 3vw;
  }

  .instructions-title {
    font-size: 1.5vw;
  }

  .instructions-description {
    font-size: 1vw;
    margin-bottom: 1vw;
  }

  .navigation-button .fa-magnifying-glass,
  .navigation-button .fa-bars {
    display: none;
  }

  #menu-container.hidden {
    display: flex;
    height: 3vw;
    width: 25vw;
    top: 0;
    right: 0;
  }

  .menu-option a {
    font-size: 1vw;
  }
  .menu-option i {
    font-size: 1.5vw;
  }
}
